* {
    box-sizing: border-box;
}

.box {
    width: 100%;
    height: 60px;
    background-color: cadetblue;
}

.photo {
    width: 100%;
    height: 60px;
    background-color: green;
}

header {
    height: 100vh;
}

#section01 {

    .container{

        height: calc(100vh - 108px);

        position: relative;
    
        .photo {
            // position: absolute;
            // top: 0;
            // left: 0;
        }
    }
}

nav {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    // pointer-events: none;

    .list-group{
        height: 100vh;

        ul{
            height: 60%;
            width: 140px;
            position: relative;
            padding: 0;
            a{
                list-style-type: none;
                width: 80px;
                height: 50px;
                background-color: black;
                line-height: 50px;
                text-align: center;
                text-decoration: none;
                transition: 0.5s;
                font-size: 12px;
                // overflow: hidden;
                // white-space: nowrap;
                // text-overflow: inherit;
                // border-bottom-left-radius: 30px; 
                // border-top-left-radius: 30px; 
                
                li{
                    list-style-type: none;
                    color: white;
                }
                
            }

            .longer{
                width: 150px;
                font-size: 18px;
                // border-radius: unset;
            }

            .hide{
                opacity: 0;
            }
        }
    }
}

#section02 {
    .box {
        height: 300px;
    }
    
    .col-4{

        &:nth-child(2) {
            .box{
                height: unset;
            }
        }

        &:nth-child(4) {
            .box{
                height: unset;
            }
        }
    }

}

#section03 {
    position: relative;
    padding: 0 80px;
    
    .box{
        height: 90vh;
        width: 12.5%;
        transition: 0.5s;
        
        display: flex;
        align-items: center;
        justify-items: baseline;
        flex-direction: row-reverse;
        padding-bottom: 20px;

        writing-mode: vertical-rl;
        text-orientation: upright;
        color: white;
        font-size: 32px;
        
        span{
            // width: 120px;
            height: 120px;
        }
        
        &:hover{
            width: 20%;
            
        }

    }

    h1{
        position: absolute;
        top: 50px;
        left: 6.25%;
        z-index: 1;
    }

}

#section04 {

    .box {
        height: 500px;
    }
}

#section05 {
    .box {
        height: 445px;
        width: 445px;
        position: relative;

        &:nth-child(1)::after{
            content: '';
            height: 2px;
            width: 475px;
            background-color: black;

            position: absolute;
            top: 46%;
            left: 444px;
            transform: translateY(-50%);
        }

        &:nth-child(2),&:nth-child(5) {
            width: 255px;
            height: unset;
            background-color: unset;
            font-size: 14px;
            line-height: 25px;
        }
        
        &:nth-child(4)::before{
            content: '';
            height: 2px;
            width: 475px;
            background-color: black;

            position: absolute;
            top: 49%;
            right: 444px;
            transform: translateY(-50%);
        }

    }
}

#section06 {

    .content{
        background-color: darkgray;
        height: 572px;
    }

    #connection{
        font-size: 21px;

        .box{
            height: 62.3px;
            width: 62.3px;
        }
        
        span{
            font-size: 18px;
        }
        
    }

    #giveback{

        label {
            width: 30%;
            height: 30px;
            line-height: 30px;
            background-color: forestgreen;
            font-size: 18px;
            margin-bottom: 10px;
        }

        input {
            width: 70%;
            height: 30px;
        }

        textarea {
            height: 200px;
            width: 100%;
        }

        .btn {
            width: 150px;
            /* height: 30px; */
            background-color: teal;
            /* line-height: 30px; */
            margin: 20px 132.5px;
        }
    }

    .contain {
        width: 100%;
    }

    .icon {
        height: 50px;
        width: 50px;
        background-color: goldenrod;
        border-radius: 50%;
    }
}
